body{
	background-color: #9789f9;
}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.container{
	display: flex;
	justify-content: space-around;
	width:1200px;
	margin:0 auto;
}
.no-flexbox .container{
	display: block;
}
.no-flexbox .item{
	width:32%;
	margin-right:1%;
	float:left;
}
.item{
	background-color: #f5f4f9;
	padding: 25px 100px;
}
.no-borderradius .white_bg{
	border-radius: 80%;
	behavior: url(../js/PIE.htc);
}
.white_bg{
	background-color: red;
	border-top-left-radius: 80%;
	border-top-right-radius: 80%;
	margin:0 -100px;
	padding-top: 4em;
}
